# Build results
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Other
*.db
*.db-shm
*.db-wal
*.vsix
*.ncrunch*
*.cr/


appsettings.json
appsettings.*.json
!appsettings.example.json
appsettings.Test.json